.reactModalOverlay{
    background-color: rgba(0, 0, 0, 0.6);

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.reactModalContent {
    width: 100%;
    max-width: 500px;

    background-color: var(--background);

    padding: 1rem;

    position: relative;
    border-radius: 0.5rem;
}

.container {
    h2 {
        text-align: center;

        font-size: 1.25rem;
        font-weight: 500;

        margin-bottom: 2rem;
    }
}

.transactionTypeContainer{
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    button {
        height: 4rem;
        border: 1px solid #d7d7d7;
        border-radius: 0.5rem;

        background-color: transparent;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: border-color 0.3s linear;

        &:hover{
            transform: scale(1.01);
            border-color: #aaa;
        }

        span{
            display: inline-block;
            margin: 1rem;
            font-size: 1rem;
        }
    }
}

.selectCategory {
    margin-top: .5rem;
    padding: .75rem 1rem;

    font-size: 1rem;

    background-color: #555555;
    color: #faffff;

    border: none;

    width: 100%;

    border-radius: 4px;

    height: 3rem;
}

.buttonSubmitContainer {
    display: flex;
    justify-content: center;
}

.buttonSubmit{
    width: 100%;
    margin-top: 1rem;

    background-color: var(--logo-color);
    color: #333;

    font-weight: 600;

    padding: 1rem;

    border: none;
    border-radius: 8px;

    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

@media (max-width: 500px) {
    .reactModalContent {
        width: 90%;
    }
}